
:root{
	--primary_white: #FFFAEC;
	--secondary_white: #F5ECD5;
	--shaded-white:#cfc6b0;
	--teal: #578E7E;
	--black: #3D3D3D;
	--almond: blanchedalmond;
}


body{
    background-color: var(--teal);
    
}

#noteInput {
    width: 99%;
    height: 250px;
	background:white;

}

.mainSection{
    background-color:var(--primary_white);
    border: 5px solid var(--secondary_white) ;
    border-radius: 25px;
    padding: 10px;
    justify-content: center;
}
.titleName{
    font: 100% arial, sans-serif;
    font-size: 3em;
    color: var(--black);
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
}
.titlePara{
    font: 100% arial, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.3em;
    color: rgb(0, 58, 0);
    text-align: center;
}

.ButtonsSelect{
    font-size: 1em;
    display: flex;
    margin: 5px;
    justify-content: center;
    border-radius: 25px;
    gap: 15px;
    font-size: 1.2em;
    padding: 20px;
}

.noteSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    border: 5px solid var(--secondary_white) ;
    border-radius: 25px;
    background-color: var(--primary_white);
    padding: 10px;
}
#noteContainer {
    
    color: var(--teal);
    padding: 10px;
    font: 100% arial, sans-serif;
    font-size: 1.3em;
    
}

.videoEmbed{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goToLink{
    font-size: 1.3em;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 5px solid var(--secondary_white);
    border-radius: 25px;
    background-color: var(--primary_white);
    padding: 10px;
}

.inputInfo{
    width: 40%;
	padding: 10px 12px;
	border: 1px solid var(--secondary_white);
	border-radius: 4px;
	font-size: 16px;
	color: #333;
	box-sizing: border-box;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

 .quickNoteContainer {
	display: grid; 
    grid-template-columns: 12% 68% 20%; /* Creates three equal columns */ 
    gap: 5px;
}

.button4 {
	position:center;
	background-color: var(--teal);
	text-align: center;
	color: var(--primary_white);
	border:1px solid var(--shaded_white);
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px var(--shaded-white);
	width: 200px; 
	height: 25px;
}